Babel==2.3.4
beautifulsoup4==4.5.1
Django==1.10.3
django-debug-toolbar==1.6
django-modelcluster==2.0
django-money==0.9.1
django-phonenumber-field==1.1.0
django-taggit==0.18.3
django-treebeard==4.0.1
djangorestframework==3.5.3
html5lib==0.999999999
phonenumberslite==7.7.4
Pillow==3.4.2
py==1.4.31
py-moneyed==0.6.0
pytest==3.0.4
pytest-django==3.1.1
pytz==2016.7
six==1.10.0
sqlparse==0.2.2
Unidecode==0.4.19
wagtail==1.7
webencodings==0.5
Willow==0.4
