

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MobShop{% endblock %}</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'eshop/favicon/gremlin.ico' %}"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lobster"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"/>
    <link rel="stylesheet" type="text/css" href="{% static 'eshop/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!--logo -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'eshop:index' %}">MobShop</a>
        </div>

        <!-- items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'eshop:where' %}"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>&nbsp;Боже. Где я?</a></li>
                <li><a href="{% url 'eshop:manufacturers' %}"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&nbsp;Производители</a></li>
                <li><a href="{% url 'eshop:phonemodels' %}"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>&nbsp;Модели телефонов</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-middle">
                <li><a href="{% url 'eshop:make_order' %}"><span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span>&nbsp;Сделать заказ</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-middle">
                <li><a href="{% url 'eshop:register' %}"><span class="glyphicon glyphicon-registration-mark" aria-hidden="true"></span>&nbsp;Регистрация</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="search" method="get" action="{% url 'eshop:search' %}">
                <div class="form-group">
                    <input type="text" class="form-control" name="q" value="">
                </div>
                <button type="submit" class="btn btn-default">Поиск</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'eshop:logout' %}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;Выйти</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li style="color: whitesmoke">
                    <p class="navbar-text" style="color: rebeccapurple">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
                        {% if user.is_authenticated %}
                            Привет, {{ user.get_username }}!
                        {% else %}
                            Привет, ищущий!
                        {% endif %}
                    </p>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'eshop:login' %}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;Войти</a></li>
            </ul>
        </div>
    </div>
</nav>

{% block content %}
{% endblock %}

<footer>
    <div class="navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container">
                <address>
                    Написать разработчику: <a href="mailto:adchizhov@outlook.com">Александр Чижов</a><br>
                    Мой Github: <a href="https://github.com/adchizhov">https://github.com/adchizhov</a>
                </address>
            </div>
        </div>
    </div>
</footer>
</body>
</html>