{% extends 'eshop/_base.html' %}
{% load static %}
{% block title %} Описание телефона {% endblock %}
{% block content %}
<div>
    {% if phone_detail %}
    <p align="center"><b>{{ phone_modelname.phone_model }}</b></p>
    <table class="table table-bordered">
        {% for field in phone_detail %}
        <tr>
            <td class="col-md-2" align="center">{{ field.label }} : </td>
            <td class="col-md-6">{{ field.value }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <strong>Модель телефона отсутсвует!</strong>
    {% endif %}
</div>
{% endblock %}