{% extends 'eshop/_base.html' %}
{% load static %}
{% block content %}
    <script src="http://yastatic.net/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        function one() {
            jQuery("#user-city").text(ymaps.geolocation.city);
            jQuery("#user-region").text(ymaps.geolocation.region);
            jQuery("#user-country").text(ymaps.geolocation.country);
        }

        function two() {
            var city = ymaps.geolocation.city;
            alert("Ваш город: " + city)
        }
        function start() {
            one();
            two();
        }
        window.onload = start;
    </script>
    <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
    <div id="loc" align="center">
        <b>Ваше местоположение (через скрипт Yandex API):</b>
        <div id="user-city"></div> <div id="user-region"></div><div id="user-country"></div>
        {% if context %}
            <p><b>Ваш город (через GeoLiteCity): {{ context.city }}</b></p><br>
            <p><b>Ваш номер ip в сети: {{ myip }}</b></p>
        {% else %}
            <strong>Не работает бля, ибо localhost?)</strong>
        {% endif %}
        <p><b><a href="{% url 'eshop:onmap' %}">Посмотри на карте (через Google)</a></b></p>
    </div>

{% endblock %}