html {
    background-color: antiquewhite;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: antiquewhite;
    font-family: 'Roboto', sans-serif;
}

img.pictures {
    display: block;
    margin: auto;
    width: 40%;
    padding:1px;
    border:1px solid #021a40;
}

.center{
    width:140px;
    margin:0 auto;
    text-align:left;
}

.navbar {
    border-radius: 0;
}

.navbar-default .navbar-brand {
    font-family: 'Lobster', cursive;
    color: whitesmoke;
}

.navbar-default .navbar-brand:hover {
    color: antiquewhite !important;
}

.navbar-default {
    background-color: darkslategrey;
}

ul.nav li a, ul.nav li a:visited {
    color: whitesmoke !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: antiquewhite !important;
}

ul.nav li.active a {
    color: whitesmoke !important;
}

.order-created {
    font-size: 20px;
    text-align: center;
}