{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MobShop</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'eshop/favicon/gremlin.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'eshop/style.css' %}"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<h2 class="welcome" align="center">Добро пожаловать! Мы продаем, вы покупаете!</h2>
{% block content %}
{% endblock %}

<footer>
    <div style="text-align:center">
    <address>
        Разработчик: <a href="mailto:adchizhov@outlook.com">Александр Чижов</a><br>
        Мой Github:<br>
        <a href="https://github.com/adchizhov">https://github.com/adchizhov</a><br>
    </address>
    </div>
</footer>
</body>
</html>