{% extends 'eshop/_base.html' %}
{% load static %}
{% block content %}
    <h2 class="welcome" align="center">Добро пожаловать! Мы продаем, вы покупаете!</h2>
    <div style="text-align:center">
        <p class="welcome" align="center">Разработка сайта в процессе</p>
    </div>
    <img class="pictures" src="{% static 'eshop/img/BeFunkyDesign.png' %}" alt="Home page">
    {{ cart.item_count }}
    {{ cart.total_price }}

    {% for item in cart.list_items %}
        <div>
            {# Access the item's model instance using its "obj" attribute #}
            {{ item.obj.name }}
            <img src="{{ item.obj.picture.url }}">
            {{ item.price }}
            {{ item.quantity }}
            {{ item.total }}
        </div>
    {% endfor %}
{% endblock %}