{% extends 'eshop/_base.html' %}
{% block content %}
    <h4 align="center">List of all manufacturers</h4>
    <p align="center">Total manufacturers in database: {{ count_manufacturers }}</p>
    <div class="center">
    {% if all_manufacturers %}
        <ul>
            {% for manu in all_manufacturers %}
                <li><a href="{% url 'eshop:manufacturer_detail' manu.id %}">{{ manu.manufacturer_name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no manufacturers to present!</strong>
    {% endif %}
        <p align="center"><a href="/eshop/">Return to Gremlin</a></p>
    </div>
{% endblock %}